@import 'tailwindcss';

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

html,
body,
#root {
  height: 100%;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

body {
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

input[type='search']::-webkit-search-cancel-button {
  cursor: pointer;
}

.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 1440px;
  padding: 1rem 2rem;
}
