@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html,
body,
body {
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

input[type='search']::-webkit-search-cancel-button {
  cursor: pointer;
}

.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 1440px;
  padding: 1rem 2rem;
}
