@import 'tailwindcss';

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

html,
body,
#root {
  height: 100%;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type='search']::-webkit-search-cancel-button {
  cursor: pointer;
}
